<form>
  <div class="form-header">
    <img src="assets/images/png/icon-hour.png" alt="clock">
    <span>Horário</span>
  </div>
  <div class="main-form">
    <h3>Qual período quer treinar?</h3>
    <div class="radio-container">
      <div class="radio-wrapper">
        <div class="radio-part">
          <input type="radio" name="hour" value="morning" id="morning"/>
          <label for="morning">Manhã</label>
        </div>
        <span class="hour">06:00 às 12h</span>
      </div>
      <div class="radio-wrapper">
        <div class="radio-part">
          <input type="radio" name="hour" value="afternoon" id="afternoon"/>
          <label for="afternoon">Tarde</label>
        </div>
        <span class="hour">12:01 às 18h</span>
      </div>
      <div class="radio-wrapper">
        <div class="radio-part">
          <input type="radio" name="hour" value="night" id="night"/>
          <label for="night">Noite</label>
        </div>
        <span class="hour">18:01 às 23h</span>
      </div>
    </div>

    <div class="check-container">
      <div class="checkbox">
        <input type="checkbox" name="showClosed" id="showClosed"/>
        <label for="showClosed">Exibir unidades fechadas</label>
      </div>
      <span>Resultados encontrados:</span>
    </div>
  </div>

  <div class="buttons-footer">
    <button class="search-button">ENCONTAR UNIDADE</button>
    <button class="clear-button">LIMPAR</button>
  </div>
</form>
